<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="Suite">
<listeners>

	<listener class-name="joseph.TestComponents.Listeners1"></listener>

</listeners>

  <test thread-count="5" name="Submit Order Test">
    <classes>
      <class name="joseph.Tests.submit1"/>
    </classes>
  </test> <!-- Test -->
  
   <test thread-count="5" name="Error Validation Test">
    <classes>
      <class name="joseph.Tests.ErrorValidation"/>
    </classes>
  </test> <!-- Test -->
  
  
</suite> <!-- Suite -->
